body{
    font-family: Arial, Helvetica, sans-serif
}

.clearfix{
    float: none;
    clear: both;
    text-decoration: none;
    list-style: none;
}

#content{
    width: 80%;
    min-height: 500px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #DDDDDD;
    background: #EEEEEE;
}

header{
    padding: 15px;
    background: #229138;
    color: white;
}

header .title-subtitle{
    float: left;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: 20px;
    margin-left: -65px;
    padding-left: 65px; 
    
}

header h1, header p{
    margin: 0px;
    margin-left: 15px;
}

header p{
    color: #dddddd;
}

header #logo{
    width: 75px;
    display: block;
    float: left;
    margin-top: 10px;
}

footer{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    color: grey;
    font-size: 12px;
}