<div class="loading" *ngIf="loading == true">
    <img src="../../assets/images/loader.gif" />
</div>
<strong>{{title}}</strong>
<ul id="favoritos-list">
    <li *ngFor="let favorito of favoritos" class="favorito-item">
        <div class="content-data">
            <h4>{{favorito.title}}</h4>
            <p class="url">{{favorito.url}}</p>
            <p class="buttons">
                <a class="btn btn-default" href="{{favorito.url}}" target="_blank">
                    Ir al marcador
                </a>
                <a class="btn btn-ver" [routerLink]="['/marcador', favorito._id]">
                    Ver
                </a>
                <a class="btn btn-editar" [routerLink]="['/editar-marcador', favorito._id]">
                    Editar
                </a>
                <a class="btn btn-eliminar" (click)="onBorrarConfirm(favorito._id)">
                    Eliminar
                </a> 
            </p>  
            <div class="seguro" *ngIf="confirmado == favorito._id">
                <p>
                    <strong>¿Estas seguro de querer borrar el favorito?</strong>
                </p>
                <a class="btn btn-eliminar" (click)="onBorrarFavorito(favorito._id)">
                    Borrar
                </a>                    
                <a class="btn btn-ver" (click)="onCancelarConfirm()">
                    Cancelar
                </a>                           
            </div>
        </div>
    </li>
</ul>
